### Build
node_modules
dist
.target
*.log

### VCS
.git
.gitignore

### AtomiCloud
.kloop/

### dotnet
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
[Cc]overage/
*.sarif
dead-code.sln

### Dev
.env
.envrc
.env.*
!.env.example
*.md
!README.md

### IDE
.idea
.vscode
*.swp
*.swo
*~
